.cl-1 {
    background-color: antiquewhite;
}
.cl-2 {
    background-color: bisque;
}
.cl-3 {
    background-color: cadetblue;
}
.cl-4 {
    background-color: darkgrey;
}
.cl-5 {
    background-color: rgba(65, 223, 45, 0.192);
}
.cl-6 {
    background-color: lightblue;
}